@media (max-width: 1280px) {
  .swiper__wrap {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: calc(854px + 286 * ((100vw - 1024px) / (1199 - 1024)));
  }

  .header__logo {
    display: none;
    width: 112px;
    height: 14px;
  }

  .header__logo-top {
    display: flex;
    padding: 23px 0;

    background-color: #E6E8EC;
  }

  .header__logo-top .header__logo {
    display: block;
  }

  .header__bottom-item:not(:last-child) {
    margin-right: 28px;
  }

  .header__action-item {
    min-width: 150px;
  }

  .header__bottom-list {
    margin-right: auto;
  }

  .header__age {
    display: none;
  }

  /* radio */
  .radio {
    padding-top: 92px;
    padding-bottom: 89px;
  }

  .radio__container::after {
    top: 48%;

    width: 256px;
    height: 270px;

    background-image: url("../image/microphone-1024.jpg");
  }

  .radio__descr {
    margin-bottom: 20px;
  }

  /* broadcast */
  .broadcast__menu {
    justify-content: normal;
  }

  .broadcast__menu-header {
    margin-bottom: 340px;
  }

  .broadcast__item:not(:nth-child(2n+1)) {
    margin-right: 0;
  }

  .broadcast__item:not(:nth-child(2n)) {
    margin-right: 28px;
  }

  .broadcast__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 28px;
  }

  /* playlists */
  .playlists__container {
    position: relative;

    padding-bottom: 160px;
  }

  .playlists__menu {
    position: static;
  }

  .playlists__menu-warn {
    position: absolute;
    bottom: 0;
  }

  .playlists__checkbox {
    display: flex;
    flex-direction: column;
  }

  .playlists__checkbox-wrap {
    flex-wrap: wrap;
    max-height: 168px;
    max-width: 494px;
  }

  .playlists__checkbox-label:not(:last-child) {
    margin-bottom: 0;
  }

  .playlists__checkbox-label:not(:nth-last-child(-n + 4)) {
    margin-right: 34px;
  }

  .playlists__checkbox-label:not(:nth-child(4n)) {
    margin-bottom: 16px;
  }

  .playlists__list {
    padding-top: 9px;
  }

  .playlists__item {
    width: 255px;
  }

  .playlists__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .playlists__item:not(:nth-child(3n)) {
    margin-right: 28px;
  }

  .playlists__item:not(:nth-last-child(-n+4)) {
    margin-bottom: 0;
  }

  .playlists__item:not(:nth-last-child(-n+3)) {
    margin-bottom: var(--gap);
  }

  .playlists__item-btn {
    display: flex;
  }

  .playlists__item-img {
    width: 112px;
    height: 112px;
  }

  .playlists__item-btn::before {
    width: 112px;
    height: 112px;
  }

  .playlists__item-content {
    min-height: 112px;
    padding: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .playlists__item::after {
    left: 0;
  }

  .playlists__item-name {
    margin-bottom: 4px;
  }

  .playlists__item-btn::after {
    width: 112px;
    height: 112px;
  }

  /* adv */
  .adv {
    padding-bottom: 94px;
  }

  .adv__img {
    align-self: center;
  }

  /* guests */
  .guests__header {
    max-width: 555px;
  }

  .guests__card-img {
    width: 255px;
    height: 159px;
  }

  .guests__card--no {
    height: 159px;
  }

  /* about */
  .about {
    padding-top: 98px;
  }

  .about__header::before {
    display: none;
  }

  .about__header::after {
    top: 50px;
  }

  .about__header-content {
    max-width: 540px;
    margin-right: 0;
  }

  .swiper__wrap {
    margin-bottom: 37px;
  }
}

@media (max-width: 991.8px) {
  .guests__accordion {
    margin-bottom: 50px;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: calc(570px + 284 * ((100vw - 768px) / (1023 - 768)));
  }

  .header::after {
    content: '';
    position: absolute;
    z-index: 70;
    top: 60px;
    right: 0;

    width: 100%;
    height: calc(100vh - 60px);

    background-color: #D2D5DD;
    background-image: url('../image/burger-img.svg');
    background-repeat: no-repeat;
    background-position: 390px 100%;
    transform: translateX(-1100px);
    transform-origin: top;
    transition: transform .3s ease-in-out;
  }

  .header--active::after {
    transform: translate(0);
  }

  .header__top-list {
    position: absolute;
    z-index: 100;
    top: 160px;
    flex-wrap: wrap;
    width: 250px;
    transform: translateX(-1100px);
    transform-origin: top;
    transition: transform .3s ease-in-out;
  }

  .header--active .header__top-list {
    transform: translate(0);
  }

  .header__top-item {
    width: 50%;
  }

  .header__top-list::before {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -300px;

    width: 115px;
    height: 305px;

    background-image: url('../image/burger-img.svg');
    background-repeat: no-repeat;
  }

  .header__top-menu {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 188px;
  }

  .header__top-item:not(:last-child) {
    margin-right: 0;
  }

  .header__top-item:not(:nth-child(3n)) {
    margin-bottom: 62px;
  }

  .header__top-item:last-child {
    margin-bottom: 0;
  }

  .header__burger {
    display: block;
  }

  .header__action-list {
    display: none;
  }

  .header__bottom .header__container::after {
    content: '';

    display: block;
    width: 24px;
    height: 24px;

    background-image: url('../image/play_header_btn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .header__bottom-item:not(:last-child) {
    margin-right: 29px;
  }

  /* radio */
  .radio__container::after {
    display: none;
  }

  /* broadcasts */
  .broadcast {
    position: relative;

    padding-bottom: 157px;

    overflow: hidden;
  }

  .broadcast__container {
    padding-bottom: 60px;
  }

  .broadcast__menu {
    position: static;
  }

  .broadcast__menu-header {
    margin-bottom: 47px;
  }

  .broadcast__menu-footer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    max-width: 345px;
    padding-left: 90px;
  }

  .broadcast__menu-descr {
    width: 255px;
  }

  .broadcast__menu-footer::before {
    top: 0;

    width: 70px;
    height: 96px;

    background-image: url("../image/mic-768.jpg");
  }

  .broadcast__menu-footer::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -100%;

    width: 300%;
    height: 1px;

    background-color: #E6E8EC;
  }

  .broadcast__list {
    justify-content: center;
    flex: 0 0 99%;
    max-width: 99%;
  }

  /* guests */
  .guests__card-img {
    width: 540px;
    height: 220px;
  }

  /* adv */
  .adv__img {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .adv__title::after {
    background-image: url('../image/border-wave-768.svg');
  }

  /* about */
  .about__form-input {
    width: 100%;
  }

  .about__header {
    position: relative;
    padding-bottom: 142px;
  }

  .about__header::before {
    content: '';
    position: absolute;
    right: 142px;
    bottom: 0;

    display: block;
    height: 114px;
    width: 639px;

    background-image: url("../image/about-before-768.svg");
    background-repeat: no-repeat;
  }

  .about__header::after {
    content: '';
    position: absolute;
    top: inherit;
    right: 0;
    bottom: 0;

    display: block;
    height: 112px;
    width: 112px;

    background-image: url("../image/Dawn.svg");
  }

  /* footer */
  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__left {
    margin-bottom: 80px;
  }

  .footer__social {
    display: flex;
    justify-content: center;
  }

  .footer__list {
    max-width: 100%;
  }
}

/* playlists */
@media (max-width: 1021px) {
  .playlists__container {
    padding-bottom: 182px;
  }

  .playlists__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .playlists__item:not(:nth-child(2n)) {
    margin-right: 29px;
  }

  .playlists__checkbox-label:not(:nth-child(4n)) {
    margin-bottom: 30px;
  }

  .playlists__checkbox-wrap {
    max-height: 210px;
  }

  .playlists__list {
    padding-top: 27px;
  }

  /* broadcast */
  .broadcast__list {
    justify-content: center;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .broadcast__menu-header {
    margin-bottom: 34px;
  }

  .broadcast__menu-btn {
    margin-bottom: 10px;
  }

  .broadcast__menu-footer::after {
    top: -31px;
  }

  /* guests */
  .guests__accordion-guest:not(:nth-last-child(-n+4)) {
    margin-bottom: 27px;
  }

  .guests__card--no {
    height: 220px;
  }

  .guests__card-social {
    margin-bottom: 15px;
  }

  .guests__card-descr {
    max-width: 400px;
  }

  /* adv */
  .adv {
    padding-top: 54px;
  }

  .adv__title::after {
    margin-top: 13px;
  }

  .adv__title {
    margin-bottom: 19px;
  }

  /* about */
  .swiper__btn-prev {
    left: -65px;
  }

  .swiper__btn-next {
    right: -65px;
  }

  .swiper__wrap {
    margin-bottom: 29px;
  }

  /* footer */
  .footer__container {
    padding-bottom: 78px;
  }

  .footer__social,
  .footer__social-btn {
    height: 36px;
  }

  .footer__social-icon {
    width: 36px;
    height: 36px;
  }

  .footer__social-btn:not(:last-child) {
    margin-right: 21px;
  }

  .footer__item {
    width: 65px;
  }

  .footer__item:not(:nth-child(3n)) {
    width: 33%;
  }

  .footer__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 27px;
  }

  .footer__item:not(:nth-child(3n)) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: calc(286px + 254 * ((100vw - 320px) / (767 - 320)));
  }

  .header::before {
    content: '';
    position: absolute;
    z-index: 99;
    top: 280px;
    left: 0;
    right: 0;

    width: 100%;
    height: calc(100vh - 278px);
    min-height: 150px;

    background-color: #fff;
    transform: translateX(-1100px);
    transition: transform .3s ease-in-out;
  }

  .header--active::before {
    transform: translate(0);
  }

  .header__container .header__top-btn {
    display: none;
  }

  .header__logo-top .header__top-btn {
    display: block;
    padding: 8px 24px;
  }

  .header__logo-top {
    padding: 0;
    min-height: 54px;
  }

  .header__logo-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__search-wrap {
    margin-right: 0;
  }

  .header--active::after {
    background-image: none;
  }

  .header__top {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .header__top-list::before {
    display: none;
  }

  .header__top-list {
    top: 120px;
  }

  .header__top-item:not(:nth-child(3n)) {
    margin-bottom: 40px;
  }

  .header__top-menu {
    height: 143px;
  }

  .header__bottom .header__container::after {
    display: none;
  }

  .header__bottom {
    padding-top: 14px;
    padding-bottom: 14px;
    min-height: 45px;

    overflow: initial;
  }

  .header__bottom .header__container {
    position: static;
  }

  .header__bottom-list {
    position: absolute;
    z-index: 100;
    top: 300px;

    display: flex;
    flex-wrap: wrap;

    transform: translateX(-1100px);
    transition: transform .3s ease-in-out;
  }

  .header--active .header__bottom-list {
    transform: translate(0);
  }

  .header__bottom-item {
    width: 50%;
  }

  .header__bottom-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }

  .header__bottom-item:not(:last-child) {
    margin-right: 0;
  }

  .header__more {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .header__action-list {
    position: absolute;
    z-index: 50;
    top: 185px;
    left: 50%;

    display: flex;
    flex-direction: row;
    min-width: 320px;
    padding: 9px 32px 6px;

    background-color: #fff;
    transform: scaleY(0) translateX(-50%);
    transform-origin: top;
    transition: transform .3s ease-in-out;
  }

  .header__action-item {
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
    padding: 0;

    border: 0;
  }

  .header__action-play {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .header__action-item:first-child {
    margin-right: 35px;
    padding-right: 36px;

    border-right: 1px solid #D2D5DD;
  }

  .header__bottom--active .header__action-list {
    transform: scaleY(1) translateX(-50%);
  }

  /* radio */
  .radio {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .radio__title {
    margin-bottom: 8px;

    font-size: 32px;
  }

  .radio__descr {
    font-size: 14px;
  }

  .radio__btn {
    padding: 15px 44px;

    font-size: 16px;
  }

  /* podcasts */
  .podcast {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .podcast__title {
    margin-bottom: 20px;

    font-size: 24px;
  }

  .podcast__wrap:nth-last-child(-n + 8) {
    display: none;
  }

  .podcast__list .podcast__item--open {
    display: block;
  }

  .podcast__item-title {
    font-size: 16px;
  }

  .podcast__item-author {
    font-size: 12px;
  }

  .podcast__btn {
    padding: 17px 30px;

    font-size: 16px;
  }

  /* broadcast */
  .choices {
    height: 40px;
  }

  .broadcast {
    padding-top: 54px;
    padding-bottom: 134px;
  }

  .broadcast__container {
    justify-content: center;
  }

  .broadcast__title {
    margin-bottom: 15px;

    font-size: 24px;
  }

  .broadcast__menu-header {
    margin-bottom: 15px;
  }

  .broadcast__select-span {
    font-size: 12px;
  }

  .broadcast__list {
    max-width: 286px;
  }

  .broadcast__item {
    width: 113px;
    min-height: 149px;
  }

  .broadcast__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }

  .broadcast__item-image {
    height: 50px;
  }

  .broadcast__item-content {
    padding: 9px;
    min-height: 99px;
  }

  .broadcast__item-title {
    margin-bottom: 5px;

    font-size: 12px;
  }

  .broadcast__item-timetable {
    margin-bottom: auto;

    font-size: 9px;
  }

  .broadcast__item-btn {
    font-size: 12px;
  }

  .broadcast__menu-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    max-width: 256px;
  }

  .broadcast__menu-footer::before {
    width: 77px;
    height: 105px;

    background-image: url(../image/mic-320.jpg);
  }

  .broadcast__menu-btn {
    padding: 8px 30px;
    margin-bottom: 0;
  }

  .broadcast__menu-descr {
    margin-bottom: 7px;
    width: 166px;

    font-size: 14px;
  }

  /* guests */
  .guests__accordion-guest:not(:nth-last-child(-n+4)) {
    margin-bottom: 0;
  }

  .guests__accordion-guest:not(:last-child) {
    margin-bottom: 27px;
  }

  .guests__card-img {
    width: 256px;
    height: 159px;
  }

  /* playlists */
  .playlists {
    padding-top: 54px;
    padding-bottom: 54px;
    overflow: hidden;
  }

  .playlists__container {
    padding-bottom: 166px;
  }

  .playlists__title {
    margin-bottom: 20px;

    font-size: 24px;
  }

  .playlists__checkbox-title {
    margin-bottom: 2px;
  }

  .playlists__menu-warn {
    padding-top: 28px;
  }

  .playlists__menu-descr {
    font-size: 12px;
    line-height: 16px;
  }

  .playlists__menu-copyright {
    font-size: 12px;
  }

  .playlists__checkbox {
    position: relative;

    width: 150%;

    overflow-x: auto;
  }

  .playlists__checkbox-title {
    position: sticky;
    left: 0;
    top: 0;

    font-size: 12px;
  }

  .playlists__checkbox-wrap {
    max-width: none;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 26%;

    overflow-x: auto;
  }

  .playlists__checkbox-label:not(:nth-child(4n)) {
    margin-bottom: 0;
  }

  .playlists__checkbox-label:not(:nth-last-child(-n + 4)) {
    margin-right: 0;
  }

  .playlists__checkbox-label {
    position: relative;

    flex-shrink: 0;
    padding: 16px 19.5px;

    border: 2px solid var(--dark-purple);
    border-radius: 77px;
  }

  .playlists__checkbox-label:not(:last-child) {
    margin-right: 15px;
  }

  .playlists__checkbox-descr::before {
    display: none;
  }

  .playlists__checkbox-descr {
    position: static;

    font-size: 16px;
    line-height: 1;
    color: var(--dark-purple);
  }

  .playlists__checkbox-descr::after {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    border-radius: 77px;
    transition: background-color .2s ease-in-out;
  }

  .playlists__checkbox-item:checked+.playlists__checkbox-descr::after {
    background-color: var(--dark-purple);
    z-index: -1;
  }

  .playlists__checkbox-item:checked+.playlists__checkbox-descr {
    color: #fff;
    ;
  }

  .playlists__list {
    justify-content: center;
    padding-top: 9px;
  }

  .playlists__item {
    width: 113px;
  }

  .playlists__item-btn {
    flex-direction: column;
  }

  .playlists__item::after {
    left: auto;
    right: 0;
  }

  .playlists__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .playlists__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .playlists__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }

  .playlists__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }

  .playlists__item-content {
    padding: 9px;
    min-height: 46px;
  }

  .playlists__item-name {
    font-size: 12px;
  }

  .playlists__item-descr {
    font-size: 9px;
  }

  /* adv */
  .adv {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .adv__img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .adv__title {
    font-size: 24px;
  }

  .adv__title::after {
    margin-top: 12px;
  }

  .adv__descr {
    font-size: 14px;
    line-height: 22px;
  }

  .adv__sum {
    padding-top: 0;
    margin-bottom: 20px;

    font-size: 24px;
  }

  .adv__btn {
    width: 100%;
    padding: 15px 16px 15px 37px;

    font-size: 16px;
  }

  /* about */
  .about {
    padding-top: 54px;
    padding-bottom: 54px;
    overflow: hidden;
  }

  .about__title {
    font-size: 24px;
  }

  .about__status {
    margin-bottom: 2px;

    font-size: 14px;
  }

  .about__descr {
    font-size: 14px;
  }

  .about__header {
    padding-bottom: 0;
  }

  .about__header::before,
  .about__header::after {
    display: none;
  }

  .about__item-img img {
    width: calc(113px + 142 * ((100vw - 320px) / (767 - 320)));
    height: calc(113px + 142 * ((100vw - 320px) / (767 - 320)));
    min-width: 113px;
    min-height: 113px;
  }

  .swiper {
    overflow: initial;
  }

  .swiper__btn--prev,
  .swiper__btn--next {
    display: none;
  }

  .about__form-textarea {
    border-radius: 20px;
  }

  .about__form-textarea,
  .about__form-input {
    padding: 16px 24px;

    font-size: 16px;
    line-height: 1;
  }

  .about__form-btns {
    align-items: flex-start;
  }

  .about__form-btn {
    padding: 17px 45px;
    margin-bottom: 18px;

    font-size: 16px;
  }

  .about__checkbox-label {
    padding-left: 21px;
  }

  .about__checkbox-descr {
    font-size: 9px;
  }
}

@media (max-width: 649.8px) {

  /* podcast */
  .podcast__item {
    padding: 72px 16px 0;
    width: 256px;
  }

  .podcast__item::before {
    right: 0;
    height: 72px;
    width: 256px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .podcast__list {
    margin-bottom: 0;
  }

  .podcast__wrap:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }

  .podcast__wrap:not(:last-child) {
    margin-bottom: var(--gap);
  }

  .podcast__wrap:last-child {
    margin-bottom: 0;
  }

  .podcast__item-wrap {
    padding-top: 12px;
    padding-bottom: 13px;
  }

  .podcast__img-1::before {
    background-image: url("../image/podcast-1-320.jpg");
  }

  .podcast__img-2::before {
    background-image: url("../image/podcast-2-320.jpg");
  }

  .podcast__img-3::before {
    background-image: url("../image/podcast-3-320.jpg");
  }

  .podcast__img-4::before {
    background-image: url("../image/podcast-4-320.jpg");
  }

  .podcast__date {
    top: 0;

    height: 16px;
  }

  .podcast__item-play,
  .podcast__item-stop,
  .podcast__item-btn {
    width: 36px;
    height: 36px;
  }

  .podcast__feedback-wrap {
    position: relative;

    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 17px;
  }

  .podcast__feedback-btn,
  .podcast__like,
  .podcast__share {
    display: flex;
    align-items: center;
  }

  .podcast__feedback-btn svg,
  .podcast__like-icon,
  .podcast__like-icon--active,
  .podcast__share-icon,
  .podcast__share-icon--active {
    margin-right: 6px;
  }

  .podcast__feedback-amount,
  .podcast__like-amount,
  .podcast__share-amount {
    font-size: 12px;
  }

  .podcast__feedback-btn,
  .podcast__like {
    margin-right: 29px;
  }

  .podcast__feedback-wrap::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -16px;
    right: -16px;

    height: 1px;

    background-color: #E6E8EC;
  }

  /* guests */
  .guests {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .guests__title {
    font-size: 24px;
  }

  .guests__header-span {
    margin-bottom: 0;

    font-size: 14px;
  }

  .guests__header-descr {
    margin-bottom: 28px;

    font-size: 14px;
  }

  .guests__group {
    font-size: 16px;
    line-height: 1;
  }

  .guests__card--no {
    height: 159px;
  }

  .guests__accordion {
    margin-bottom: 30px;
  }

  .guests__accordion-up {
    min-height: 53px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .guests__accordion-icon {
    width: 26px;
    height: 26px;
  }

  .guests__accordion-item--active .guests__accordion-info {
    padding-top: 21px;
    padding-bottom: 22px;
  }

  .guests__accordion-btn {
    text-align: left;
    font-size: 14px;
    line-height: 15.4px;
  }

  .guests__card-link,
  .guests__card-social {
    height: 36px;
  }

  .guests__card-inst,
  .guests__card-facebook,
  .guests__card-twiter {
    width: 36px;
    height: 36px;
  }

  .guests__card-link:not(:last-child) {
    margin-right: 17px;
  }

  .guests__card-social {
    margin-bottom: 13px;
  }

  .guests__card-btn {
    padding: 8px 13px;
  }

  /* about */
  .about__item {
    width: calc(113px + 142 * ((100vw - 320px) / (767 - 320)));
    min-width: 113px;
  }

  .about__item-img {
    margin-bottom: 8px;
  }

  .about__item-title {
    font-size: 14px;
    line-height: 18px;
  }

  .about__item-descr {
    font-size: 12px;
    line-height: 16px;
  }

  .swiper__wrap {
    margin-bottom: 26px;
  }

  /* footer */
  .footer {
    overflow: hidden;
  }

  .footer__container {
    padding-top: 51px;
    padding-bottom: 35px;
  }

  .footer__left {
    margin-bottom: 80px;
  }

  .footer__social-btn,
  .footer__social {
    height: 36px;
  }

  .footer__social-icon {
    width: 36px;
    height: 36px;
  }

  .footer__list {
    justify-content: flex-start;
  }

  .footer__item {
    width: 57px;
  }

  .footer__item:not(:nth-child(3n)) {
    margin-right: 0;
    width: 57px;
  }

  .footer__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 0;
  }

  .footer__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 18px;
  }

  .footer__item:not(:nth-last-child(2n)) {
    margin-right: 86px;
  }

  .footer__item-link {
    font-size: 12px;
    line-height: 1;
  }

  .footer::after {
    height: 43px;

    font-size: 12px;
  }

  .footer__list {
    position: relative;
    z-index: 1;
  }

  .footer__list::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -30px;
    bottom: -30px;
    left: -110px;
    right: -110px;

    background-color: var(--black-color);
  }
}

@media (max-width: 571.9px) {
  .playlists__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .playlists__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .playlists__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 0;
  }

  .playlists__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 31px;
  }
}

@media (max-width: 420px) {
  .guests__accordion-btn {
    max-width: 83px;
  }
}
