/* swiper */
.swiper__wrap {
  position: relative;

  margin-bottom: var(--gap);
}

.swiper__btn-next,
.swiper__btn-prev {
  position: absolute;
  top: 105px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;

  border: 2px solid var(--grey-color);
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: border-color .2s ease-in-out;
}

.swiper__btn-next {
  right: -72px;
}

.swiper__btn-prev {
  left: -72px;
}

.swiper__btn-next::before,
.swiper__btn-prev::before {
  content: "";

  display: block;
  width: 13px;
  height: 13px;

  border-top: 2px solid var(--grey-color);
  border-left: 2px solid var(--grey-color);
  transition: border-color .2s ease-in-out;
}

.swiper__btn-prev::before {
  margin-left: 4px;
  transform: rotate(-45deg);
}

.swiper__btn-next::before {
  margin-right: 4px;
  transform: rotate(135deg);
}

.swiper__btn-next:focus-visible,
.swiper__btn-prev:focus-visible {
  outline: none;
  border-color: #fff;
}

.swiper__btn-next:hover,
.swiper__btn-prev:hover,
.swiper__btn--next:hover .swiper__btn-next::before,
.swiper__btn--prev:hover .swiper__btn-prev::before {
  border-color: #fff;
}

.swiper__btn-next:active,
.swiper__btn-prev:active,
.swiper__btn--next:active .swiper__btn-next::before,
.swiper__btn--prev:active .swiper__btn-prev::before {
  border-color: rgb(124, 124, 124);
}

/* main */
.about {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--black-color);
}

.about__header {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 28px;
}

.about__header::before {
  content: '';

  display: block;
  width: 162px;
  height: 292px;

  background-image: url('../../image/Spiral.png');
  background-repeat: no-repeat;
}

.about__header::after {
  content: '';
  position: absolute;
  right: 0;
  top: 20px;

  display: block;
  width: 255px;
  height: 255px;

  background-image: url('../../image/Dawn.png');
  background-repeat: no-repeat;
}

.about__header-content {
  max-width: 634px;
  margin-right: 30px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: #fff;
}

.about__status {
  display: inline-block;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--grey-color);
}

.about__descr {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: var(--grey-color);
}

.about__list {
  padding-left: 0;
}

.about__item-wrap {
  display: flex;
  justify-content: center;
}

.about__item-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #fff;
}

.about__item-descr {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--grey-color);
}

.about__item-img {
  display: block;
  margin-bottom: 26px;
}

.about__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 920px;
}

.about__form-textarea,
.about__form-input {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--grey-color);

  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #fff;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.about__form-textarea {
  padding: 30px 32px;
  width: 100%;
  min-height: 150px;
  margin-bottom: var(--gap);
  resize: none;
}

.about__form-input {
  padding: 24px 32px;
  margin-bottom: var(--gap);
  width: calc((100% - 30px) / 2);
}

.about__form-textarea:focus-visible,
.about__form-input:focus-visible {
  outline: none;
  background-color: #292E39;
  border-color: var(--light-purple);
}

.about__form-textarea:hover,
.about__form-input:hover {
  background-color: #292E39;
}

.about__form-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__form-btn {
  margin-bottom: 27px;
  padding: 25px 54px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #fff;

  border: 0;
  background-color: #6D31EE;
  border-radius: 40px;
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.about__form-btn:focus-visible {
  outline: none;
  background-color: var(--light-purple);
  border-color: var(--active-color);
}

.about__form-btn:hover {
  background-color: var(--light-purple);
  border-color: var(--light-purple);
}

.about__form-btn:active {
  background-color: var(--active-color);
  border-color: var(--active-color);
}

.about__checkbox-label {
  position: relative;

  padding-left: 24px;
  cursor: pointer;
}

.about__checkbox-descr {
  margin: 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: #fff;
}

.about__checkbox-item {
  display: none;
  opacity: 0;
}

.about__checkbox-descr::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 13px;
  height: 13px;

  border: 1px solid #fff;
}

.about__checkbox-descr::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;

  width: 7px;
  height: 4px;

  border-left: 2px solid #AA9DFA;
  border-bottom: 2px solid #AA9DFA;
  transform: rotate(-45deg) translateY(-115%);
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.about__checkbox-item:checked+.about__checkbox-descr::after {
  opacity: 1;
}
