.adv {
  padding-top: 94px;
  padding-bottom: 133px;

  background-color: #292E39;
}

.adv__main {
  display: flex;
  flex-direction: column;
}

.adv__title {
  margin-top: 0;
  margin-bottom: 17px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: #F0D288;
}

.adv__title::after {
  content: "";

  display: block;
  height: 12px;
  margin-top: 19px;

  background-image: url("../../image/border-wave.svg");
}

.adv__descr {
  margin-top: 0;
  margin-bottom: 12px;
  display: inline-block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
}

.adv__sum {
  padding-top: 18px;
  margin-bottom: var(--gap);

  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  color: #fff;
}

.adv__btn {
  position: relative;

  align-self: flex-start;
  padding: 23px 12px 23px 41px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #F0D288;

  border: 2px solid #F0D288;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.adv__btn-icon {
  position: absolute;
  left: 13px;
  top: 50%;

  width: 20px;
  height: 20px;
  transform: translateY(-57%);
}

.adv__btn-icon--1 {
  fill: #F0D288;
  transition: fill .3s ease-in-out;
}

.adv__btn-icon--2 {
  fill: var(--black-color);
  transition: fill .3s ease-in-out;
}

.adv__btn:focus-visible {
  color: var(--black-color);

  outline: none;
  background-color: #BB973E;
}

.adv__btn:hover {
  color: var(--black-color);
  background-color: #F0D288;
}

.adv__btn:hover .adv__btn-icon--1 {
  fill: var(--black-color);
}

.adv__btn:hover .adv__btn-icon--2 {
  fill: #F0D288;
}

.adv__btn:active {
  color: var(--black-color);

  background-color: #BB973E;
  border-color: #BB973E;
}

.adv__btn:active .adv__btn-icon--2 {
  fill: #BB973E;
}
