@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../../fonts/MullerRegular.woff2') format('woff2'),
       url('../../fonts/MullerRegular.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../../fonts/MullerRegularItalic.woff2') format('woff2'),
       url('../../fonts/MullerRegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('../../fonts/MullerMedium.woff2') format('woff2'),
       url('../../fonts/MullerMedium.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../../fonts/MullerBold.woff2') format('woff2'),
       url('../../fonts/MullerBold.woff') format('woff');
}
