.footer {
  background-color: #292E39;
}

.footer::after {
  content: "W-WAVE ® 2021";

  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 47px;
  margin: 0 auto;
  padding-bottom: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--grey-color);

  background-image: url("../../image/footer-wave.svg");
  background-position: top;
  background-repeat: no-repeat;
}

.footer__container {
  padding-top: 93px;
  padding-bottom: 91px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  width: 160px;
  height: 20px;
  margin-bottom: 20px;
}

.footer__social-btn {
  display: inline-block;
  height: 24px;
  padding: 0;

  border: none;
  background-color: transparent;
}

.footer__social-btn:not(:last-child) {
  margin-right: 17px;
}

.footer__social {
  height: 24px;
}

.footer__social-icon {
  fill: #D2D5DD;
  cursor: pointer;
  transition: fill .2s ease-in-out;
}

.footer__social-btn:focus {
  outline: none;
}

.footer__social-btn:focus-visible .footer__social-icon {
  fill: var(--light-purple);
}

.footer__social-btn .footer__social-icon:hover {
  fill: var(--dark-purple);
}

.footer__social-btn .footer__social-icon:active {
  fill: var(--active-color);
}

.footer__list {
  padding-left: 0;
  max-width: 445px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__item {
  width: calc((100% - 109px * 2) / 3);
}

.footer__item:not(:nth-child(3n)) {
  margin-right: 109px;
}

.footer__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 17px;
}

.footer__item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #fff;

  transition: color .2s ease-in-out;
}

.footer__item-link:focus-visible {
  color: var(--light-purple);

  outline: none;
}

.footer__item-link:hover {
  color: var(--dark-purple);
}

.footer__item-link:active {
  color: var(--active-color);
}
