.guests {
  padding-top: 94px;
  padding-bottom: 93px;

  background-color: var(--black-color);
}

.guests__container {
  flex-direction: column;
}

.guests__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: #fff;
}

.guests__header {
  max-width: 825px;
}

.guests__header-span {
  display: inline-block;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--grey-color);
}

.guests__header-descr {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: var(--grey-color);
}

.guests__accordion {
  margin-left: 0;
}

.guests__accordion-item:not(:first-child) {
  margin-top: -1px;
}

.guests__accordion-item {
  transition: max-height .3s ease-in-out;
  overflow: hidden;
}

.guests__accordion-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 3px;

  color: #fff;
  stroke: var(--grey-color);
  fill: none;

  background-color: transparent;
  border-top: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  border-right: 0;
  border-left: 0;
  cursor: pointer;
}

.guests__accordion-up:focus-visible {
  outline: none;
  background-color: #292E39;
}

.guests__accordion-up:hover {
  background-color: transparent;
}

.guests__accordion-up:hover {
  color: var(--light-purple);
  stroke: var(--light-purple);
}

.guests__accordion-up:active {
  fill: var(--light-purple);
}

.guests__accordion-up:active path {
  stroke: #fff;
}

.guests__group {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: inherit;

  transition: color .3s ease-in-out;
}

.guests__accordion-icon {
  stroke: inherit;
  fill: inherit;

  transition: stroke .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}

.guests__accordion-info {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;

  color: transparent;

  transition: max-height .4s ease-in-out, padding .4s ease-in-out;
}

.guests__accordion-item--active .guests__accordion-icon {
  transform: rotate(180deg);
}

.guests__accordion-item--active .guests__accordion-info {
  max-height: 100vh;
  padding-top: var(--gap);
  padding-bottom: var(--gap);
  color: #fff;

  transition: max-height .3s ease-in-out, padding .3s ease-in-out;
}

.guests__accordion-item--active .guests__accordion-info--last {
  padding-bottom: 0;
}

.guests__accordion-btn {
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: inherit;
  text-align: left;

  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: color .3s ease-in-out;
}

.guests__accordion-btn:focus-visible {
  color: var(--light-purple);

  outline: none;
}

.guests__accordion-btn:hover {
  color: var(--dark-purple);
}

.guests__accordion-guest:not(:nth-last-child(-n+4)) {
  margin-bottom: 14px;
}

.guests__accordion-guest:last-child {
  margin-bottom: 0;
}

.guests__accordion-guest--active {
  color: var(--light-purple);
}

.guests__card--no {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;

  background-color: #292E39;
}

.guests__card-img--no {
  margin-bottom: 10px;
}

.guests__card-span--no {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--grey-color);
}

.guest__card-no--inactive {
  display: none;
}

.guests__card {
  display: none;
}

.guests__card--active {
  display: block;
}

.guests__card-img {
  display: block;
  width: 350px;
  height: 220px;
  margin-bottom: 12px;
}

.guests__card-social {
  height: 24px;
  margin-bottom: 12px;
}

.guests__card-link {
  display: inline-block;
  height: 24px;
}

.guests__card-link:not(:last-child) {
  margin-right: 26px;
}

.guests__card-inst,
.guests__card-facebook,
.guests__card-twiter {
  fill: var(--grey-color);
  cursor: pointer;
  transition: fill .2s ease-in-out;
}

.guests__card-link:focus {
  outline: none;
}

.guests__card-link:focus .guests__card-inst,
.guests__card-link:focus .guests__card-facebook,
.guests__card-link:focus .guests__card-twiter {
  fill: var(--light-purple);
}

.guests__card-inst:hover,
.guests__card-facebook:hover,
.guests__card-twiter:hover {
  fill: var(--dark-purple);
}

.guests__card-inst:active,
.guests__card-facebook:active,
.guests__card-twiter:active {
  fill: var(--active-color);
}

.guests__card-name {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #fff;
}

.guests__card-descr {
  margin-top: 0;
  margin-bottom: var(--gap);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--grey-color);
}

.guests__card-btn {
  padding: 12px 19px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--light-purple);

  background-color: transparent;
  border: 2px solid var(--light-purple);
  border-radius: 77px;
  cursor: pointer;
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;
}

.guests__card-btn:focus-visible {
  color: #fff;

  outline: none;
  border-color: var(--dark-purple);
  background-color: var(--dark-purple);
}

.guests__card-btn:hover {
  color: #fff;

  border-color: var(--light-purple);
  background-color: var(--light-purple);
}

.guests__card-btn:active {
  color: #fff;

  border-color: var(--active-color);
  background-color: var(--active-color);
}
