.radio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.radio__container {
  position: relative;
}

.radio__container::after {
  content: "";
  position: absolute;
  right: 19px;
  top: 48%;
  transform: translateY(-50%);

  width: 350px;
  height: 380px;

  background-image: url("../../image/microphone.jpg");
}

.radio__title {
  margin: 0;
  margin-bottom: 14px;

  font-weight: 400;
  font-style: italic;
  font-size: 60px;
  line-height: 1;
  color: var(--black-color);
}

.radio__title-strong {
  font-weight: 700;
  font-style: normal;
}

.radio__descr {
  margin: 0;
  margin-bottom: 45px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
}

.radio__btn {
  padding: 24px 52px;


  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #fff;

  background-color: var(--dark-purple);
  border-radius: 40px;
  border: 2px solid var(--dark-purple);
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.radio__btn:focus-visible {
  outline: none;
  background-color: var(--light-purple);
  border-color: var(--active-color);
}

.radio__btn:hover {
  background-color: var(--light-purple);
  border-color: var(--light-purple);
}

.radio__btn:active {
  background-color: var(--active-color);
  border-color: var(--active-color);
}
